@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:wght@300&display=swap');


/* BODY */
h1 h2 h3 h4 h5 h6 {
  font-family: 'Shrikhand', sans-serif;
}
p {
  font-family: 'Roboto' , sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
}
a {
  text-decoration: none;
}
/* header  */
.logo {
  width: 60%;
  margin: 20px 70px 10px 70px;
}
header a {
  width: 100%;   
}
.villeheader {
  height: 60px;
  background-color: #f2f2f2 ;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -3px 0px 1px rgba(0,0,0,0.25);
  .fa-map-marker-alt {
    padding: 0 10px 0 0;
  }
}
/* section */
.reservation{
  box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.25);
  height: 270px;
}
h1 {
  margin: 0px 75px 10px 75px;
  padding-top: 25px;
  font-weight: bold;
  span {
    margin: 0 0 0 38px;
  }
}
section p {
  margin: 15px 30px 25px 30px;
  font-size: large;
  span {
    margin: 0 0 0 50px;
  }
}
.explorerbtn {
  display: flex;
  justify-content: center;
  margin-left: 55px;
  width: 70%;
  color: white;
  background: rgb(255,121,218);
  background: linear-gradient(90deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
  border-radius: 55px;
  padding-top: 5px;
}
.reservation {
  background-color: #f7f5f5 ;
}
/* section fonctionement*/
.fonctionnement{
  height: 400px;
  margin: 35px 10px 30px 0px ;
  h2 {
    margin-left: 20px;
    margin-bottom: 25px;
  }
}
.fonctionsection a {
  color: black;
  box-shadow: 0px -2px 15px 0px rgba(0,0,0,0.25);
  height: 75px;
  margin: 30px 0;
  width: 95%;
  border-radius: 25px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  i{
    font-size: larger;
    margin-left: 10px;
    margin-right: 25px;
  }
  span {
    font-family: 'roboto';
    font-weight: bold;
    font-size: medium;
  }
}
.number{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 10px;
  width: 10%;
  height: 40%;
  border-radius: 50px;
  background-color: rgba(147,86,220,1);
  font-size: large;
  color: white;
  position: relative;
  right: 25px;
}
.fonctionsection a:hover {
  background-color: rgb(243, 119, 237);
}
/* section restaurant*/
.restaurant {
  background-color: #f2f2f2;
  h2{
    margin: 0 0 15px 15px;
    padding-top: 40px;
  }
}
.restaurantcard  {
  margin: 20px;
  height: 300px;
  border: 1px ;
  border-radius: 25px;
  width: 90%;
  background-color: white; 
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.42);
  img{
    width: 100%;
    object-fit: cover;
    height: 220px;
    border-radius: 25px 25px 0 0;
  }
  .news{
    background-color: rgb(156, 226, 156);
    color: green;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    bottom: 270px;
    width: 22%;
    height: 35px;
    padding: 6px;
    float: right;
    margin-right: 15px;
    border-radius: 5px;
  }
  .carddescription{
    padding: 10px 0 0 15px;
    text-decoration: none;
  }
  p{
    color: black;
    margin: 0;
  }
  h3{
    margin-bottom: 5px;
    color: black;
  }
}
.like {
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 30px;
  left: 50px;
  font-size: 20px;
}
.like1{
  display: flex;
  justify-content: right;
  position: relative;
  bottom: 35px;
  right: 40px;
}
/* COEUR*/
.fa-heart{
  font-size: 30px ;

}
.likeactive {
  position: relative;
  right: 21px;
  opacity: 0;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text!important;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
}
input {
  size: 21px;
  position: relative;
  left: 17px;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
input:checked ~ .far {
  transition-duration: 0.5s;
  opacity: 0;
}
input:checked ~ .fas{
  transition-duration: 0.5s;
  opacity: 1;
  }

/* footer*/
footer {
  height: 200px;
  background-color: rgb(46, 42, 42) ;
}
.footerlogo {
  font-size: 20px ;
  color: white;
  font-family: 'Shrikhand';
  margin: 20px 0 20px 30px;
  padding: 15px 0 0 0;
}
footer li {
    color: white;
    list-style: none;
    font-size: 18px;
    padding: 5px 0 5px 10px;
}
