@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
}

body {
  background-color: #f2f2f2;
}

h1, h2, h4, h5, h6 {
  font-family: "Shrikhand", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

/*loadspinner*/
.loadspinner {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff80;
  animation: loadinger 0.1s;
  animation-delay: 1s;
  animation-fill-mode: both;
}
.loadspinner .loading {
  border: 5px solid #9356dc;
  border-top: 5px solid #99e2d0;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: loading 1s ease-in-out;
  animation-iteration-count: 3;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loadinger {
  100% {
    opacity: 0;
    z-index: -1;
  }
}
/*apparition progressive*/
.entrercard1 {
  animation: 3s forwards 1s slidein;
  animation-delay: 0.9s;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
.platcard1 {
  animation: 3s forwards 1s slidein;
  animation-delay: 1.3s;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
.dessertcard1 {
  animation: 3s forwards 1s slidein;
  animation-delay: 1.8s;
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: scaleY(0);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}
/*header*/
nav {
  display: flex;
  width: 100%;
  height: 50px;
}
nav h2 {
  font-size: 35px;
  padding-right: 2.3rem;
  margin: auto;
}
nav .fa-arrow-left {
  padding: 22px;
}

.background img {
  width: 100%;
}

/*main*/
.background {
  background-color: #f2f2f2;
}

.tittle {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
  position: relative;
  bottom: 25px;
}
.tittle h1 {
  font-size: 25px;
  margin: 10px 0 0 20px;
  font-family: "Shrikhand", sans-serif;
}

/*coeur*/
.fa-heart {
  font-size: 25px;
}

.like {
  position: relative;
  top: 15px;
  left: 50px;
}

.likeactive1 {
  position: relative;
  top: 15px;
  left: 25px;
  opacity: 0;
  transition-duration: 0.5s;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
}

.input {
  opacity: 0;
  z-index: 1;
  position: relative;
  top: 20px;
  left: 70px;
  cursor: pointer;
}

input:checked ~ .like {
  transition-duration: 0.5s;
  opacity: 0;
}

input:checked ~ .likeactive1 {
  transition-duration: 0.5s;
  opacity: 1;
}

/*entrer*/
.entrer {
  margin-bottom: 10px;
}
.entrer h2 {
  width: 10%;
  margin: 0 0 0 15px;
  padding-bottom: 5px;
  border-bottom: #5dd9ff 2px solid;
}
.entrer .entrercard1 {
  opacity: 0;
  display: flex;
  flex-direction: row;
  height: 70px;
  margin: 15px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}
.entrer .carddescription {
  overflow: hidden;
  width: 100%;
  height: 50px;
  padding: 5px 0 0 5px;
}
.entrer .carddescription p {
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.entrer .carddescription h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.entrer .prix {
  font-weight: bold;
  padding: 1.75rem 0 0 1rem;
}

.entrercard1:hover .add i {
  transition-duration: 1s;
  transform: rotate(360deg);
}

.entrercard1:hover .add {
  margin-right: -0.6rem;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

/*plat*/
.plat {
  margin-bottom: 10px;
}
.plat h2 {
  width: 10%;
  margin: 0 0 0 15px;
  padding-bottom: 5px;
  border-bottom: #5dd9ff 2px solid;
}
.plat .platcard1 {
  opacity: 0;
  display: flex;
  flex-direction: row;
  height: 70px;
  margin: 15px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}
.plat .carddescription {
  overflow: hidden;
  width: 100%;
  height: 50px;
  padding: 5px 0 0 5px;
}
.plat .carddescription p {
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.plat .carddescription h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.plat .prix {
  font-weight: bold;
  padding: 1.75rem 0 0 1rem;
}

.platcard1:hover .add i {
  transition-duration: 1s;
  transform: rotate(360deg);
}

.platcard1:hover .add {
  margin-right: -0.6rem;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

/*dessert*/
.desserts {
  margin-bottom: 10px;
}
.desserts h2 {
  width: 10%;
  margin: 0 0 0 15px;
  padding-bottom: 5px;
  border-bottom: #5dd9ff 2px solid;
}
.desserts .dessertcard1 {
  opacity: 0;
  display: flex;
  flex-direction: row;
  height: 70px;
  margin: 15px;
  padding: 0 10px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}
.desserts .carddescription {
  overflow: hidden;
  width: 100%;
  height: 50px;
  padding: 5px 0 0 5px;
}
.desserts .carddescription p {
  margin-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.desserts .carddescription h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.desserts .prix {
  font-weight: bold;
  padding: 1.75rem 0 0 1rem;
}

.add {
  margin-right: -7rem;
  border-radius: 0 20px 20px 0;
  background: #99e2d0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 100%;
}
.add .fa-check-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.dessertcard1:hover .add i {
  transition-duration: 1.5s;
  transform: rotate(360deg);
}

.dessertcard1:hover .add {
  margin-right: -0.6rem;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.alldescription {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  padding-right: 1rem;
}

/*commander*/
.commander {
  background-color: #f2f2f2;
}

.commanderbtn {
  cursor: pointer;
  width: 48%;
  height: 35px;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 13px;
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 100%);
  border-radius: 70px;
}
.commanderbtn a {
  text-decoration: none;
}
.commanderbtn h3 {
  color: white;
  font-size: 17px;
}

.commanderbtn:hover {
  transform: scale(1.1);
}

/*footer*/
footer {
  height: 200px;
  background-color: #2e2a2a;
}
footer a {
  color: white;
  text-decoration: none;
}

.footerlogo {
  font-size: 20px;
  color: white;
  font-family: "Shrikhand";
  margin: 20px 0 20px 30px;
  padding: 15px 0 0 0;
}

footer li {
  color: white;
  list-style: none;
  font-size: 18px;
  padding: 5px 0 5px 10px;
}

/*responsive desktop*/
@media screen and (min-width: 1400px) {
  .background img {
    width: 100%;
    height: 74.9rem;
    position: relative;
  }

  main.background {
    border-radius: 25px;
    position: absolute;
    top: 10rem;
    width: 65%;
    left: 19rem;
  }

  .tittle h1 {
    margin-bottom: 10px;
  }

  .entrer h2 {
    width: 5%;
  }

  .plat h2 {
    width: 5%;
  }

  .desserts h2 {
    width: 5%;
  }

  .commanderbtn {
    width: 35%;
    margin: auto;
  }

  /*coeur*/
  .tittle {
    position: static;
  }
  .tittle .input {
    margin-left: 53rem;
  }
}
/*responsive tablette*/
@media screen and (min-width: 765px) and (max-width: 1100px) {
  /*coeur*/
  .tittle {
    border-radius: 35px 35px 0 0;
  }
  .tittle .input {
    margin-left: 22rem;
  }
}

/*# sourceMappingURL=style1.css.map */
